body{
  background: #303030;
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  /*background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
}
h1 {
  color: #000;
  text-align: center;
}

/* Contenedor del puzzle*/
#contenedorPuzzle {
	margin: 20px auto;
	width: 450px;
	background: rgba(20,20,20,0.8);
	box-shadow: 0px 0px 10px  2px #777;
	color: #ccc;
	padding: 20px;
	border-radius: 10px;
	overflow: hidden;
        
}


/* Puzzle */
#contenedorPiezas{
	background: #e7931a;
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 10px;
	box-shadow: 0px 0px 10px  2px #d0eb6a;
    
}

#puzzle {
	background: #d0eb6a;
	width: 200px;
	height: 200px;
	float: right;
	margin-right: 10px;
	box-shadow: 0px 0px 10px  2px #e7931a;
}
#footer{
  background:#c3c3be;
  text-align: center;
}
.contenedorPieza {
	width: 100px;
	height: 100px;
	float: left;
        bottom: 0;
}

#contenedorPuzzle img {
	float: left;
	padding: 1px;
	width: 98px;
	height: 98px;
        bottom: 0;
}
